$primary: #fa7009;
.btn {
	box-shadow: inset 0 0 5px 4px #00000024;
}
.btn-primary {
	color: white !important;
}
.card-header {
	background-color: $primary !important;
	color: white;
	box-shadow: inset 0 0 5px 4px #ca590530;
}
li[class="address"] {
	:nth-child(1) {
		list-style-type: "";
	}
	list-style-type: "›";
	padding-inline-start: 1ch;
}
@import ".~bootstrap/scss/bootstrap";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
main {
	height: 80vh;
	overflow: scroll;
	@include media-breakpoint-down(sm) {
		width: 46vh;
	}
	@include media-breakpoint-down(md) {
		width: 46vh;
	}
}
footer {
	box-shadow: 0 -4px 14px #0000001f;
	position: sticky;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	text-align: center;
	header {
		box-shadow: 0 4px 14px #0000001f;
		border-radius: 6px;
		.logobar {
			width: 30vw;
			@include media-breakpoint-down(sm) {
				width: 70vw;
			}
			@include media-breakpoint-down(md) {
				width: 70vw;
			}
		}
		.App-logo {
			width: 100%;
			height: auto;
			max-width: 100px;
		}
		.ha-logo {
			width: 100%;
			height: auto;
			max-width: 100px;
		}
		nav {
			position: sticky;
			.nav-link {
				width: 10vw;
			}
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.App-logo {
			animation: App-logo-spin infinite 20s linear;
		}
	}

	.App-header {
		background-color: #282c34;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 2vmin);
		color: white;
	}

	.App-link {
		color: #61dafb;
	}

	@keyframes App-logo-spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	.showdown {
		height: 80vh;
		@include media-breakpoint-down(sm) {
			height: auto;
		}
		@include media-breakpoint-down(md) {
			height: auto;
		}

		#admin-side {
			.to-enter {
				background-color: $danger;
				color: white;
				border-radius: 50%;
				width: 3vw;
				@include media-breakpoint-down(sm) {
					width: 11vw;
				}
				@include media-breakpoint-down(md) {
					width: 11vw;
				}
			}
			.entered {
				background-color: $success;
				color: white;
				border-radius: 50%;
				width: 3vw;
				@include media-breakpoint-down(sm) {
					width: 11vw;
				}
				@include media-breakpoint-down(md) {
					width: 11vw;
				}
			}
		}
		.result-panel {
			.card {
				box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
				border-radius: 15px;
			}
		}
	}

	#admin-side,
	#result-panel,
	#pg-code {
		overflow: scroll;
		height: 80vh;
		width: 25vw;
		text-align: left;
		border-radius: 16px;
		background: #ffffff;
		box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
	#result-panel {
		width: 35vw;
		height: auto;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
	#pg-code {
		width: 20vw;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
}

.asset-image {
	width: 100%;
	height: auto;

	border-radius: 10px;
	box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
}
#details-modal {
	.asset-image {
		max-height: 24vw;
	}
	#price,
	#currencycode {
		color: #00af9e;
	}
}

.autocomplete-items {
	height: 40vh !important;
	width: 100%;
	flex-direction: column;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/

	overflow: scroll;
	background: white;
	border-radius: 8px;
	height: 100%;
	box-shadow: 15px -3px 16px 5px #00000014;

	div {
		&:first-child {
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
		}
		&:last-child {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		padding: 10px;
		cursor: pointer;
		background-color: #fff;
		border-bottom: 1px solid #d4d4d4;
		&.hover {
			background-color: #e9e9e9;
		}
	}
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: $primary;
	color: #ffffff;
}
