$primary: #fa7009;

@import ".~bootstrap/scss/bootstrap";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	text-align: center;
	header {
		.logobar {
			width: 30vw;
			@include media-breakpoint-down(sm) {
				width: 70vw;
			}
			@include media-breakpoint-down(md) {
				width: 70vw;
			}
		}
		.App-logo {
			width: 100%;
			height: auto;
			max-width: 100px;
		}
		.ha-logo {
			width: 100%;
			height: auto;
			max-width: 100px;
		}
		nav {
			width: 70vw;
			@include media-breakpoint-down(sm) {
				width: 28vw;
			}
			@include media-breakpoint-down(md) {
				width: 28vw;
			}
			.nav-link {
				width: 10vw;
			}
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.App-logo {
			animation: App-logo-spin infinite 20s linear;
		}
	}

	.App-header {
		background-color: #282c34;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 2vmin);
		color: white;
	}

	.App-link {
		color: #61dafb;
	}

	@keyframes App-logo-spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	.showdown {
		height: 80vh;
		@include media-breakpoint-down(sm) {
			height: auto;
		}
		@include media-breakpoint-down(md) {
			height: auto;
		}

		.asset-image {
			width: 100%;
			height: auto;
		}
	}

	#admin-side,
	#result-panel,
	#pg-code {
		overflow: scroll;
		height: 80vh;
		width: 25vw;
		text-align: left;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
	.pg-code {
		width: 20vw;
	}
}
